[
	{ midas_server, []},
	{lager, [
		{log_root, "/midas/log/"},
		%{log_root, "/Users/thomasguenzel/Documents/Uni/Bachelor-Thesis/Implementation/ba-thomas-guenzel-server/midas_server/data/log"},
		{colored, true},
		%% Default handlers for lager/lager_event
		{handlers, [
			{lager_console_backend, [
				info,
				{lager_default_formatter,
					[time,color," [",severity,"]\e[0m ",{module, [module,":",function," > "], ["> "]}, message,"\r\n"]
				}
			]},
			{lager_file_backend, [{file, "error.log"}, {level, error}]},
			{lager_file_backend, [{file, "console.log"}, {level, info}]}
		]}
	]}
].
