{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{overrides,
	[{override, jiffy, [
		{plugins, [pc]},
		{artifacts, ["priv/jiffy.so"]},
		{provider_hooks, [
			{post,
				[
					{compile, {pc, compile}},
					{clean, {pc, clean}}
				]
			}
		]}
	]}
	]}.

{deps, [
	{jiffy, "0.14.7"},
	{eredis, "1.0.8"},
	{msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", {branch, "master"}}},
	{lager, "3.2.1"},
	{iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2"}}}
]}.

{relx, [{release, { midas_server, "0.1.0" },
         [midas_server]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false}

        ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},{vm_args, "./config/vm_prod.args"}]}]
            }]
}.

